
@{
    ViewBag.Title = "NoEmail";
}
<h2>E-mail is not available</h2>
<p>Your login does not provide e-mail information. (<i>You may try other account or change the controller code manually.</i>)</p>
