@model IEnumerable<AzureKit.Models.ContentItemDescriptor>

@{
    ViewBag.Title = "Lists";
}

<h2>Lists</h2>

<p>
    @Html.ActionLink("Create New List Item", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.ActionLink("Manage List Items", "Index", new { id=item.Id }) |
        </td>
    </tr>
}

</table>
