@model AzureKit.Models.BannerContent
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Azure Kit</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>

    @if (Model != null)
    {
        <div class="warning">
            @Model.Html
        </div>
    }
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Read the deployment document to setup your solution in Azure.
        </p>
    </div>
    <div class="col-md-4">
        @if (!String.IsNullOrEmpty(ViewBag.ErrorMessage))
        {
            <h2>Configure your solution</h2>
            <p>@ViewBag.ErrorMessage</p>
        }
        
    </div>
    <div class="col-md-4">
        <h2>Azure Kit</h2>
        <p></p>
    </div>
</div>