<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Authentication Error</title>
</head>
<body>
        <h1>Authentication Error</h1>
        <h2>An error occurred while authenticating you.</h2>
        <p>The error has been logged and our team will look into the cause.</p>
</body>
</html>
